
.login-wrapper {
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .login-box {
      width: 350px;
      padding: 1.5rem;
    }
  }
  